<h1>{{ hello }}</h1>
<p>{{ goback }}</p>

{% include 'svg-angle-down' %}
{% include 'svg-corner' %}

-----------

{% include 'molecules-navigations-yyyy' with {hello:'kjsckjasbckjasbckjbasc', goback: 'cccc'} %}